.landing {
  position: relative;
  .home {
    height: 100vh;
    padding: 0 1rem;

    display: flex;
    align-items: center;
    justify-content: space-around;
    @media (max-width: 800px) {
      flex-direction: column-reverse;
      justify-content: space-evenly;
    }
    .text {
      flex-basis: 33%;
      .title {
        font-size: 3rem;
        background: #fed05d;
        padding: 1rem;
        color: #fff;
        @media (max-width: 375px) {
          font-size: 2rem;
        }
      }
      .subtext {
        display: inline-flex;
        flex-direction: column;
        margin-top: 0.8rem;
        font-size: 2rem;

        @media (max-width: 375px) {
          font-size: 1.5rem;
          text-align: center;
        }
      }
    }
    .fire {
      flex-basis: 33%;
      @media (max-width: 800px) {
        flex-basis: 41%;
      }
    }
  }

  .tehnologes {
    background: #161a21;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @media (max-width: 650px) {
      height: 100%;
      padding: 2rem 0;
    }
    .headingTitlebox {
      display: flex;
      justify-content: center;
      text-align: center;
      .headingTitle {
        font-size: 2.8rem;
        color: #fff;
      }
      .headingText {
        padding-top: 1rem;
        font-size: 1.8rem;
        color: #fff;
      }
    }
    .tehnologesbox {
      padding-top: 3rem;
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
      @media screen {
        grid-template-columns: repeat(auto-fit, minmax(150px, 167px));
      }
      grid-auto-rows: max-content;
      gap: 40px;
      text-align: center;
      align-content: center;
      @media (max-width: 320px) {
        padding: 60px 0;
      }
      .item {
        border-bottom: 4px solid #fff;
        transition: 0.3s ease-in;
        .itemTitle {
          color: #fff;
          font-size: 1.2rem;
          letter-spacing: 3px;
        }
        .box {
          object-fit: cover;
        }
      }
      .item:hover {
        border-bottom: 4px solid #fed05f;
        transition: 0.3s ease-in;
      }
    }
  }
}
