.landing {
  position: relative;
  .landingNav {
    position: fixed;
    z-index: 111;
    right: 20px;
    top: 50%;
    margin-top: -26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .action {
      display: block;
      height: 12px;
      width: 12px;
      border-radius: 100%;
      background: #f7fff7;
      margin-top: 15px;
      @media (max-width:380px) {
        display: none
      }
    }
    .active {
      display: block;
      height: 12px;
      width: 12px;
      border-radius: 100%;
      background: #ffe66d;
      @media (max-width:380px) {
        display: none
      }
    }
  }
  .home {
    height: 100vh;
    display: flex;
    justify-content: center;
    background: #292f36;
    .text {
      display: flex;
      align-items: center;
      justify-content: center;

      color: #fff;
    }
  }
}

.advantages {
  background: #4ecdc4;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
  grid-auto-rows: max-content;
  grid-gap: 30px;
  justify-content: center;
  text-align: center;
  align-content: center;
}

.tehnologes {
  background: #161a21;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
  grid-auto-rows: max-content;
  grid-gap: 40px;
  justify-content: center;
  text-align: center;
  align-content: center;
  .item {
    .box {
      object-fit: cover;
    }
  }
}
