.landing {
  position: relative;
  .home {
    height: 100vh;
    padding: 0 1rem;

    display: flex;
    align-items: center;
    justify-content: space-around;
    @media (max-width: 800px) {
      flex-direction: column-reverse;
      justify-content: space-evenly;
    }
    .text {
      flex-basis: 33%;
      .title {
        font-size: 3rem;
        background: #fed05d;
        padding: 1rem;
        color: #fff;
        @media (max-width: 375px) {
          font-size: 2rem;
        }
      }
      .subtext {
        display: inline-flex;
        flex-direction: column;
        margin-top: 0.8rem;
        font-size: 2rem;

        @media (max-width: 375px) {
          font-size: 1.5rem;
        }
       
      }
    }
    .fire {
      flex-basis: 33%;
      @media (max-width: 800px) {
        flex-basis: 41%;
      }
    }
  }
  .advantages {
    background: #4a60ff;

    .headingTitlebox {
      display: flex;
      justify-content: center;
      position: relative;
      .headingTitle {
        position: absolute;
        top: 8rem;
        font-size: 1.8rem;
      }
    }
    .advantagesbox {
      height: 100vh;
      text-align: center;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
      grid-auto-rows: max-content;
      gap: 30px;
      justify-content: center;

      align-content: center;
    }
  }
  .tehnologes {
    background: #161a21;
    .headingTitlebox {
      display: flex;
      justify-content: center;
      position: relative;
      .headingTitle {
        position: absolute;
        top: 7rem;
        font-size: 1.8rem;
        color: #fff;
        @media (max-width: 460px) {
          top: 1.5rem;
        }
      }
    }
    .tehnologesbox {
      height: 100vh;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
      @media screen {
        grid-template-columns: repeat(auto-fit, minmax(150px, 167px));
      }
      grid-auto-rows: max-content;
      gap: 40px;
      justify-content: center;
      text-align: center;
      align-content: center;
      @media (max-width: 320px) {
        padding: 60px 0;
      }
      .item {
        border-bottom: 4px solid #fff;
        transition: 0.3s ease-in;
        .box {
          object-fit: cover;
        }
      }
      .item:hover {
        border-bottom: 4px solid #fed05f;
        transition: 0.3s ease-in;
      }
    }
  }
}
