.create {
  position: relative;
  margin: 2rem;

  .createbox {
    .formGrid {
      display: grid;
      grid-template-areas: "a b" "a b" "c c";
      gap: 3rem 2rem;
      grid-template-columns: 1fr 1fr;
      @media (max-width: 425px) {
        grid-template-columns: 1fr;
        grid-template-areas: "a a" "b b" "c c";
      }
      .a {
        grid-area: a;
        .datebox {
          display: flex;
          justify-content: space-between;
          max-width: 300px;
          @media (max-width: 600px) {
            flex-direction: column;
          }
        }
      }
      .b {
        grid-area: b;
        .donwbtn {
          margin: 1rem 0;
        }
        .delbtn {
          margin-bottom: 1rem;
        }
        .addbtn {
          margin-bottom: 1rem;
        }
      }
      .c {
        grid-area: c;
      }
    }
  }
  .NameMission {
    font-size: 1.3rem;
  }
  .Text {
    padding: 1rem 0;
  }
  .title {
    display: block;
    font-size: 1rem;
    color: #fff;
    padding-bottom: 10px;
  }
  .targetsbox {
    padding: 1rem 0;
    .targetstitle {
      font-size: 1.2rem;
    }
  }
  .flexspace {
    padding-top: 1rem;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  @media (max-width: 400px) {
    flex-direction: column;
  }
  .dangerbtn {
    @media (max-width: 400px) {
      margin: 2rem 0;
    }
  }
}

.targetSpace {
  padding: 1rem 0;
}
.donwloadbox {
  padding: 1rem 0;
  .donwload {
    text-transform: none;
  }
}
//блок отчета сотрудника
.done {
  margin: 1rem 0 2rem;
  padding: 1rem;
  display: flex;
  color: #fff;
  background: #443e3e;

  .NameMission {
    font-size: 1.2rem;
    padding: 0.8rem 0;
  }
}

.BoxIsDone {
  margin: 0.6rem;
}
