<div class="helpbadge" id="helpbadgestky">
  <div class="helpbadge-nav">
    <a href="index.html" class="helpbadge-nav-home helpbadge-hover">
      <img src="./img/home.svg" alt="" />
    </a>
    <div class="helpbadge-nav-buttons">
      <a class="helpbadge-nav-buttons-item helpbadge-hover">
        <img src="./img/arrow-left.svg" alt="" />
      </a>
      <div class="helpbadge-nav-buttons-item"><p>1 из 4</p></div>
      <a class="helpbadge-nav-buttons-item helpbadge-hover">
        <img src="./img/arrow-right.svg" alt="" />
      </a>
    </div>
  </div>
  <div class="helpbadge-dowload">
      <img src="../img/document-download.svg" alt="">
  </div>
</div>
