<div class="auth-form-bg auth-form-bg-show">
<div class="auth-form auth-form-show">
  <span class="auth-form-closebtn"></span>
  <h5 id="titleAuth">Код для сброса</h5>
  <p id="helptextAuth">На электронную почту был отправлен код сброса пароля, введите его в поле ниже</p>
  <form action="/" id="authform">
    <div class="field">
      <div class="control">
        <input class="input " type="email" placeholder="Электронная почта" id="authInput1" required>
      </div>
      <p class="authInput1 is-danger">Поле не заполнено</p>
    </div>
    <button type="submit" id="btnSubmit" class="auth-form-submitbtn">Продолжить</button>
  </form>
  <a href="/registration" class="auth-form-btnRegistration" id="registratonBtn"
    >Отправить код повторно</a
  >
</div>
</div>