.Input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 8px;
  outline: none;
}

.errorInput {
  border: 2px solid red;
}

.reqError {
  padding: 10px;
  background: #f52f2f;
  color: #fff;
  animation: showError 0.4s ease-in-out;
}

//animation

@keyframes showError {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
