.Input {
  width: 100%;
  box-sizing: border-box;
}

.InputFile {
  display: none;
}
.boxUload {
  text-align: center;
}
.Rules{
  display: flex;
  align-items: center;
   .RulesText{
padding-left: 10px;
   }
 }
