.create {
  padding: 2rem;

  .createbox {
  }

  .title {
    display: block;
    font-size: 1rem;
    color: #fff;
    padding-bottom: 10px;
  }
  .flexspace {
    padding-top: 1rem;
  }
  .datebox {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    @media (max-width: 600px) {
      flex-direction: column;
    }
  }
}


