.create {
  position: relative;
  margin: 2rem;

  .createbox {
    position: relative;
  }

 

  .NameMission {
    font-size: 1.3rem;
  }
  .Text {
    padding: 1rem 0;
  }
  .title {
    display: block;
    font-size: 1rem;
    color: #fff;
    padding-bottom: 10px;
  }
  .targetsbox {
    padding: 1rem 0;
    .targetstitle {
      font-size: 1.2rem;
    }
  
  }
  .flexspace {
    padding-top: 1rem;
  }
  .datebox {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    .datespace {
      margin: 0;
    }
    @media (max-width: 600px) {
      flex-direction: column;
    }
  }
}
.boxbutton {
  text-align: center;
  .addtarget {
    margin: 15px auto;
    display: block;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 55px;
    background: #ffa69e;
    color: #333;
    transition: 0.2s ease-in-out;
  }
  .addtarget:hover {
    background: #333;
    color: #fff;
    transition: 0.2s ease-in-out;
  }
}

.donwbtn{
  margin-bottom: 1rem;
}

.wrongblock {
  display: flex;
  justify-content: flex-end;
  @media (max-width: 450px) {
    display: block;
    margin: 1rem 0;
  }
}

.targetSpace {
  padding: 1rem 0;
}
.donwloadbox {
  padding: 1rem 0;
  .donwload {
    text-transform: none;
  }
}
.BoxIsDone {
  margin: 1rem;
}
