.Panel {
  padding: 7vmax 0 8vmax 0;

  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
    grid-auto-rows: 352px;
    justify-content: center;
    grid-gap: 30px;

    .projectsBox {
      background: #f2f3ef;
      transition: 0.2s ease-in-out;
      padding: 20px 10px;
      text-align: center;
      text-decoration: none;
      color: #FF6B6B;
      .title{
        padding-top: 20px;
        padding-bottom: 20px;
      }
      .bottom{
        padding: 20px 0 10px 0;
        display: flex;
        justify-content: space-between;
      }
    }
    .projectsBox:hover {
      border-bottom: 5px solid #4ecdc4;
      background: #fff;
      box-shadow: 0px 3px 20px 0px #f9ddd6;
      transition: 0.2s ease-in-out;
    }
  }
}
