@import "normalize.css";
@import "../node_modules/rsuite/dist/styles/rsuite-default.min.css";
h1,
h2,
h3,
h4,
h5,
ul,
p {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

li {
  list-style-type: none;
}
