@import "normalize.css";
h1,h2,h3,h4,h5{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'PT Sans', sans-serif;

}

ul{
  padding: 0;
  margin: 0;
}

li{
  list-style-type: none;
}

p{
  padding: 0;
  margin: 0;
}
/*
.main{
  display: grid;
  grid-template-areas: "a a a a""b b b b" ;
  grid-template-columns: minmax(min-content,max-content) 10fr;
  grid-auto-rows: 50px max-content;
 
}

.main-content{
  grid-area: b;
  
}
.footer{
  grid-area: c;
}

button{
  outline: none;
  border: none;
  cursor: pointer;
}
*/