.Headhelp {
  display: flex;
  justify-content: center;
  .HeadhelpTitle {
    color: #333;
    margin-top: 1rem;
  }
}
.Panel {
  padding:2vmax 0;

  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
    grid-auto-rows: 352px;
    justify-content: center;
    grid-gap: 30px 37px;
    @media (max-width: 260px) {
      grid-auto-rows: max-content;
    }
    .projectsBox {
      background: linear-gradient(to bottom right, #b0db7d 40%, #99dbb4 100%);
      box-shadow: 3px 3px 10px 0px #908f8f;
      border-radius: 6px;
      text-align: center;
      text-decoration: none;
      color: #fff;
      position: relative;
      .title {
        margin: 1rem 0;
        font-size: 1.5rem;
        word-break: break-all;
        display: block;
      }
      .text {
        overflow: hidden;
        padding: 2rem 0.5rem;
      }
      .onDone {
        padding: 1.3rem 0;
        font-size: 1.2rem;
        color: #5d5d5d;
        font-weight: 600;
      }
      .datebox {
        padding: 0rem 0rem;
        display: flex;
        flex-direction: column;
        align-self: center;
        .date {
          padding: 0.5rem 0.3rem;
        }
      }
      .personeDone {
        padding: 1rem;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 600;
      }
      .openbutton {
        text-decoration: none;
        color: #333;
        background: #fff;
        padding: 0.8rem 3.4rem;
        box-shadow: 1px 3px 5px 0px #333;
        border-radius: 45px;
        display: inline-block;
        margin: 2rem 0 1rem 0;
        transition: 0.3s ease-in-out;
      }
      .openbutton:hover {
        background: #333;
        color: #fff;
        transition: 0.3s ease-in-out;
      }
    }
  }
}

//Если нет проекта(В КОНТЕЙТЕРЕ)
.NoProj {
  height: 80vh;
  display: flex;
  justify-content: center;
  text-align: center;
  .NoProjBox {
    align-self: center;
    .alert {
      padding-top: 0.5rem;
      font-size: 1.9rem;
      color: #333;
    }
  }
}
