.formbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 78vh;
  margin: 2rem;
  .form {
    padding: 2rem;
    box-shadow: 0 2px 8px 1px #7b7b7b;
    border-radius: 3px;
    .secform {
      margin-top: 1rem;
    }
    @media (max-width: 400px) {
      padding: 0;
      box-shadow: none;
    }
  }
  .dangerButton {
    margin-top: 2rem;
  }
}
