<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>OncoTriage</title>
  </head>
  <body>
    {{> _header}}
    <div class="main-container">
      {{> _auth}} {{> body}}
      <div class="main-container-footer">
        <a href="" class="main-container-footer-policy"
          >Политика конфиденциальности</a
        >
      </div>
    </div>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
