.formbox {
  display: flex;
  justify-content: center;
  margin: 4rem 0;
  .form {
    padding: 4vmin;
    box-shadow: 0 5px 13px 2px #333;
    .flexspace {
      padding-top: 2rem;
    }
    .formtitle {
      color: #5a5252;
      font-size: 1.5rem;
      @media (max-width: 300px) {
        text-align: center;
      }
    }
    .submited {
      display: inline-block;
      width: 100%;
      border: none;
      outline: none;
      margin: 1.4rem 0;
      padding: 0.8rem 5rem;
      border-radius: 55px;
      color: #333;
      background: #ffa69e;
      transition: 0.2s ease-in-out;
      cursor: pointer;
    }
    .submited:hover {
      transition: 0.2s ease-in-out;
      background: #ff686b;
      color: #fff;
    }
    .recoverPass {
      text-align: center;
      display: inline-block;
      background: #ffa69e;
      color: #333;
      box-sizing: border-box;
      width: 100%;
      border-radius: 55px;
      padding: 0.5rem 1rem;
      text-decoration: none;
      transition: 0.2s ease-in-out;
    }
    .recoverPass:hover {
      background: #ff686b;
      color: #fff;
      transition: 0.2s ease-in-out;
    }
  }
}
