.formbox {
  display: flex;
  justify-content: center;
  margin: 4rem 0;
  .form {
    padding: 4vmin;
    background: #ffe66d;
    .flexspace{
      padding-top:2rem;
    }
    .formtitle {
      color: #5a5252;
      font-size: 1.5em;
    }
    .submited {
      width: 100%;
      border: none;
      outline: none;
      margin-top: 1.1em;
      padding: 0.8em 5em;
      color: #fff;
      background: #4b4950;
      transition: 0.2s ease-in-out;
    }
    .submited:hover {
      transition: 0.2s ease-in-out;
      background: #fff;
      color:#4b4950;
    }
  }
}


.error{
  position: absolute;
  padding: 20px;
  background: #f51a1a;
}